@page
@addTagHelper *, CodeChallengeRunner

<html>
<head>
    <title>Code Challenge Runner</title>
</head>
<body>
<markdown>
# Code Challenge Runner

Available Challenges:

* Bowling - `/api/bowling`
* BankOCR - `/api/bankocr`

*To get a description of the challenge, use:* `GET /api/{challenge}/help`

</markdown>
</body>
</html>
